
/* Paper sheet formatting */
.paper1 { 
    position: relative; 
    width: 900px; 
    height: 80%; 
    border-radius: 4px; 
    background-color: #fff;
    box-shadow: inset 0 0 0 .1em hsla(0,0%,0%,.1), inset 0 0 1em hsla(0,0%,0%,.05),0 .1em .25em hsla(0,0%,0%,.5);
    margin: 20px; 
    overflow: scroll; 
    cursor: default; }

/* Resume Format */
* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Open Sans', sans-serif; }
body { 
    font: 16px 'Open Sans', Sans-Serif; 
    line-height: 24px; }
.clear { 
    clear: both; }
#page-wrap { 
    width: 800px; 
    margin: 40px auto 60px; }
#icon { 
    padding: 10px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; }
h1 { 
    margin: 0 0 16px 0; 
    padding: 0 0 16px 0; 
    font-size: 42px; 
    font-weight: bold; 
    letter-spacing: -2px; 
    border-bottom: 1px solid #666; }
h2 { 
    font-size: 20px; 
    margin: 0 0 6px 0; 
    position: relative; }
h2 span { 
    position: absolute; 
    bottom: 0; right: 0; 
    font-style: italic; 
    font-family: Georgia, Serif; 
    font-size: 17px; 
    color: #999;
    font-weight: normal; }
p { 
    margin: 0 0 16px 0; }
a { 
    color: black;  
    text-decoration: none; 
    border-bottom: 0px; 
    -webkit-transition: all 0.4s ease; 
    -moz-transition: all 0.4s ease;
}
a:hover { 
    border-bottom-style: solid; 
    color: blue; }
ul { 
    margin: 0 0 32px 17px; }
#objective { 
    width: 500px; 
    float: left; }
#objective p { 
    font-family: Georgia, Serif; 
    font-style: italic; 
    color: #999; }
dt { 
    font-style: italic; 
    font-weight: bold; 
    font-size: 18px; 
    text-align: center; 
    padding: 0 26px 0 0; 
    width: 100px; 
    float: left; 
    height: 100px; 
    border-right: 1px solid #999; }
dd { 
    width: 625px; 
    float: left; 
    padding: 0 20px; }
dd.clear { 
    float: none; 
    margin: 0; 
    height: 15px; }
.line { 
    margin: 0 0 16px; 
    padding: 0 0 16px 0}

/* Paperclip & Resume Photo */

#profilephoto {
    z-index: 9;
    position: absolute;
    top: 10px;
    right: 80px; }
img#profile {
    width: 200px;
    height: auto;
    transform:rotate(-3deg);
    -ms-transform:rotate(-3deg); /* IE 9 */
    -webkit-transform:rotate(-3deg); /* Safari and Chrome */
    box-shadow: 0px 0.5px 2px #7C7C7C; 
    filter: grayscale(0%); 
    -webkit-filter: grayscale(0%); 
    -moz-filter: grayscale(0%); 
    -ms-filter: grayscale(0%); 
    -o-filter: grayscale(0%);
    -webkit-transition: all 0.6s ease; 
    -moz-transition: all 0.6s ease;
}
img#profile:hover {
    filter: grayscale(100%); 
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%); 
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
}  
#overlay {
    z-index: 10;
    position: absolute;
    transform:rotate(4deg);
    -ms-transform:rotate(4deg); /* IE 9 */
    -webkit-transform:rotate(4deg); /* Safari and Chrome */
    top: -1px;
    right: 85px; }
img#paperclip {
    width: 40px;
    height: auto; }  

/* Download & Link Buttons */

a#github { 
	float: right; 
	background: #999; 
	color: white; 
	margin: 16px 0 0 16px; 
	padding: 4px 14px 4px 14px;  
    border-radius: 10px; 
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
    -webkit-transition: all 0.4s ease; 
    -moz-transition: all 0.4s ease;
}
a#github:hover { 
	color: #73bae6;
    background: #444; 
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
a#vcard { 
    float: right; 
    background: #999; 
    color: white; 
    margin: 16px 0 0 16px; 
    padding: 4px 14px 4px 14px;  
    border-radius: 10px;
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
    -webkit-transition: all 0.4s ease; 
    -moz-transition: all 0.4s ease;
}
a#vcard:hover { 
    color: #43f037;
    background: #444; 
    opacity: 1.0;
    filter: alpha(opacity=100); 
}
a#pdf { 
	float: right; 
	background: #999; 
	color: white; 
	margin: 16px 0 0 16px; 
	padding: 4px 14px 4px 14px;  
    border-radius: 10px;
    opacity:0.7;
    filter:alpha(opacity=70); 
    -webkit-transition: all 0.4s ease; 
    -moz-transition: all 0.4s ease;
}
a#pdf:hover { 
    color: #f04f4f;
	background: #444; 
    opacity:1.0;
    filter:alpha(opacity=100);
} 
#logo {
	width: 16px;
	height: 16px;
}
#logo1 {
    width: 18px;
    height: 18px;
}
.details {
    padding:0px 0px 40px 0px;
}
.portfolio {
    display:inline;
    position: absolute;
    right: 80px;
}

/* Portfolio Thumbnails */
.thumbnail { 
    width: 45px;
    height: 45px;
    margin: 0.5px;
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px #666; */
    cursor: zoom-in;
    opacity:0.4;
    filter:alpha(opacity=60); /* For IE8 and earlier */
    filter: grayscale(100%); 
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%); 
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease;
}
.thumbnail:hover{
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
    filter: grayscale(0%); 
    -webkit-filter: grayscale(0%); 
    -moz-filter: grayscale(0%); 
    -ms-filter: grayscale(0%); 
    -o-filter: grayscale(0%);
}

.thumbnail:focus {
  outline: none;
  -webkit-transform: rotate(-3deg) scale(2.5); -moz-transform: rotate(-3deg) scale(2.5);
   -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
  z-index: 9999;
}

/* Quote Bubbles */
img.decoded {
    width: 45px;
    height: 45px;
    margin: 0.5px;
    border: 0px none;
    border-radius: 50%;
    opacity:0.4; 
    /* filter:alpha(opacity=60); /* For IE8 and earlier */
    filter: grayscale(100%); 
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%); 
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease;
}
img.decoded:hover {
    filter: grayscale(0%); 
    -webkit-filter: grayscale(0%); 
    -moz-filter: grayscale(0%); 
    -ms-filter: grayscale(0%); 
    -o-filter: grayscale(0%);
    opacity:1.0;
    /* filter: alpha(opacity=100); /* For IE8 and earlier */
}
.jobs {
    -webkit-transition: all 0.6s ease; 
    -moz-transition: all 0.6s ease;
}
.education{
    -webkit-transition: all 0.6s ease; 
    -moz-transition: all 0.6s ease;
}
.service{
    -webkit-transition: all 0.6s ease; 
    -moz-transition: all 0.6s ease;
}
.kansascity {
    -webkit-transition: all 0.4s ease; 
    -moz-transition: all 0.4s ease;
}
.calabasas {
    -webkit-transition: all 0.4s ease; 
    -moz-transition: all 0.4s ease;
}

/* Text Color Change */
.jobs:hover { 
    color: #f86767; 
}
.education:hover { 
    color: #339966; 
}
.service:hover { 
    color: #3ca0d3; 
}
.kansascity:hover { 
    color: blue; 
}
.calabasas:hover { 
    color: blue; 
}

